.layout-element {
  position: relative;
  text-align: center;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  margin: 0.25rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: cubic-bezier();
  transition-duration: 100ms;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.displayed {
  background-color: #eb4928;
  color: white;
  border: 1px solid #910d0d;
}
.displayed:hover {
  background-color: #c33619;
}

.displayed:active {
  background-color: #eb4928;
  /* transform: scale(0.96); */
}

.hidden {
  background-color: #d9d9d9;
  color: #5c5c5c;
  border: 1px solid #c2c2c2;
}
.hidden:hover {
  background-color: #bfbfbf;
}
.hidden:active {
  background-color: #d9d9d9;
  /* transform: scale(0.96); */
}


/* TOGGLE ALL BUTTON */
#toggle-all {
  background-color: #785DFF;
  color: white;
  font-weight: bold;
  margin-bottom: .5rem;
}

#toggle-all:hover {
  background-color: #5D45D8;
}

#toggle-all:active {
  background-color: #785DFF;
  transform: scale(0.96);
}


/* YOUTUBE PAGE LAYOUTS */
.home-page {
  display: grid;
  grid-template-areas:
    "navigation navigation navigation navigation"
    "sidebar videos videos videos"
    "sidebar videos videos videos"
    "sidebar videos videos videos";
}

/* SEARCH PAGE */
.search-page {
    display: grid;
    grid-template-areas: 
    "navigation navigation navigation navigation"
    "sidebar results results results"
    "sidebar results results results"
    "sidebar results results results";
}

/* VIDEO PAGE */
.video-page {
  display: grid;
  grid-template-areas:
    "navigation navigation navigation navigation"
    "player player player recommendations"
    "title-description title-description title-description recommendations"
    "comments comments comments recommendations";
}

/* ALL GRID AREAS */
#navigation {
  grid-area: navigation;
}

#player {
  grid-area: player;
  height: 6rem;
  font-size: 3rem;
}

#title-and-description {
  grid-area: title-description;
}

#comments {
  grid-area: comments;
  height: 5rem;
}

#recommendations {
  grid-area: recommendations;
  min-height: 3.5rem;
}

#live-chat {
  grid-area: live-chat;
  min-height: 1.5rem;
}

#sidebar {
  grid-area: sidebar;
  padding: 0.5rem 0rem;
  height: 10rem;
}

#videos {
  grid-area: videos;
}

#results {
  grid-area: results;
}


/* LOCK BUTTON RELATED */
.lock-button {
  position: absolute;
  top: .25rem;
  left: .25rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 20%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lock-button:active {
  transform: scale(0.90);
}

.lock-image {
  width: 7px;
  /* height: 20px; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* padding-top: 0.12rem; */
}

.locked {
  background-color: #7F072C;
}
.locked:hover {
  bacground-color: #56071F;
}

.unlocked {
  background-color: #BABABA;
}
.unlocked:hover {
  background-color: #BBBBBB;
}

@media (prefers-color-scheme: dark) {
  .hidden {
    background-color: #777777;
    color: white;
  }
  .hidden:hover {
    background-color: #656565;
  }
}
