#selected-page {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: 1px solid rgb(229 231 235);
  border-radius: 0.25rem;
  width: 100%;
  font-size: 0.85rem;
  color: #656565;
  appearance: none;
}

#selected-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

#selected-wrapper::after {
  content: "^";
  font-size: 1rem;
  top: 6px;
  right: 10px;
  position: absolute;
  transform: rotate(180deg);
  color: #656565;
}

.page-button-container {
  width: max-content;
  display: inline-block;
}

.page-button {
  padding: 0.3rem 0.4rem;
  border: 1px solid #C2C2C2;
  background-color: #d9d9d9;
  color: #5c5c5c;
  font-size: 0.75rem;
  width: max-content;
  border-radius: 0.3rem;
  /* display: inline-block; */
  cursor: pointer;
  margin: 0.15rem;
  transition: 0.12s ease;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-weight: bold;

}
.page-button:hover {
    background-color: #bfbfbf;
}
.page-button:active {
  transform: scale(0.96);
}

#page-button-clicked {
  background-color: #eb4928;
  color: white;
  border-color: #910D0D;
}
#page-button-clicked:hover {
  background-color: #c33619;
}

.page-buttons {
  margin-bottom: .5rem;
}

#current-page {
  font-size: .6rem;
  font-weight: bold;
  color: red;
  text-align: center;
  width: 100%;
}